<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Phone: {{ site.telephone_number }} <br>
          Fax: {{ site.fax_number }} <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Liens</h3>
        <p><a href="/about"> Le groupe</a></p>
        <p><a href="/about"> Les scouts</a></p>
        <p><a href="/contact"> Contact</a></p>
        <p><a href="/blog"> Nos aventures </a></p>
        <p><a href="/team"> Team ( Meet the Team )</a></p> 
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Réseaux sociaux</h3>
        <div id="social-icons">
          {% if site.facebook_link %}
            <a href="https://www.instagram.com/scouts_st_louis/" class="btn-group twitter">
              <i class="fa fa-instagram" height = "200px"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="https://www.facebook.com/Scout-St-Louis-1558819194337715/about/?ref=page_internal" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">Your Website Link</a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>